name: Check Dependencies

on:
  pull_request:
    paths:
      - 'pyproject.toml'
      - 'uv.lock'

jobs:
  verify-uv-lock:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: hbelmiro/uv-lock-check@v0.2.0
