name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  isort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: isort/isort-action@v1
        with:
            requirements-files: "requirements.txt"
